{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "rules": {},
  "plugins": ["react"],
  "ecmaFeatures": {
    "jsx": true,
    "spread": true,
    "modules": true
  }
}
