// Core variables and mixins
// @import "~bootstrap/scss/_variables.scss";
// @import "~bootstrap/scss/mixins";
//
// @import "~bootstrap/scss/normalize";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid";
//
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/type";
//
// // Utility classes
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/utilities-spacing";
// @import "~bootstrap/scss/utilities-responsive";

body {
  background: black;
}

#app {
  margin: 25px;
}

.content {
  font: 1em sans-serif;
  color: white;
}
svg {
  // background: #fff;
  background: #2980b9; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.item {
  // fill: none;
  // stroke-width: 1.5;
}

.axis text {
  font: 10px sans-serif;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.planet-desc {
  fill: white;
  font: 1.5em sans-serif;
  filter: drop-shadow( -5px -5px 5px #000 );
}
